<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your phrase:</h2>
    <form method="post" action="/piglatinize">
      <textarea name="user_phrase"></textarea>
       <br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
